
@{
    ViewData["Title"] = "Index";
}

<section class="hero-area hero-slider-2" style="margin-top:-25px;">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-12">
                <div class="sb-slick-slider" data-slick-setting='{
                                                                "autoplay": true,
                                                                "autoplaySpeed": 8000,
                                                                "slidesToShow": 1,
                                                                "dots":true
                                                                }'>
                    @foreach (var item in ViewBag.Adv)
                    {
                        <img src="/img/advertisement/@item.Image" />

                    }
                </div>
            </div>
        </div>
    </div>
</section>
